
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 170vh;
  min-height: 120vh;
  background: linear-gradient(135deg, #ff7eb3, #ff758c, #fbc2eb, #8cffa0, #52faff, #7d7dff);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  font-family: 'Arial', sans-serif;
}

.game-area {
  position: relative;
  width: 400px;
  height: 400px;
}

.phaser-container {
  border: 3px solid rgba(58, 78, 209, 0.8);
  box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

button {
  background: linear-gradient(135deg, #6936df, #e234bf, #52faff, #a18cd1);
  background-size: 200% 200%;
  animation: buttonAnimation 4s ease infinite;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding:  3px 2px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@keyframes buttonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.click-history {
margin-top: 80px;
width: 100%;
max-width: 450px;
background-image: linear-gradient(167deg, #6936df, #e234bf, #4eedf2, #a18cd1, #6936df);
border: 2px solid #e3dfdf;
border-radius: 60px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
animation: historyAnimation 4s ease infinite;
margin-bottom: 20px;
}


/* Click history heading */
.click-history h3 {
font-size: 18px;
font-weight: bold;
color: #e3dfdf;
text-transform: uppercase;
letter-spacing: 1px;
font-family: "Ga Maamli", sans-serif;
font-style: normal;
}

/* Click history text */
.click-history p {
font-size: 16px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #f6f4f4;
line-height: 1.5;
word-wrap: break-word;
text-align: center; 
}